<div class="container-lg mt-5">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Token workSpace</label>
      <input type="text" formControlName="token" class="form-control" id="exampleFormControlInput1" placeholder="token workSpace">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label">Token tablero</label>
      <input type="text" formControlName="tablero" class="form-control" id="exampleFormControlInput3" placeholder="token tablero">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">Nombre Rol</label>
      <input type="text" formControlName="rol" class="form-control" id="exampleFormControlInput2" placeholder="rol">
    </div>
  </form>
  <button class="btn btn-primary" (click)="buscar()">Buscar</button>
  <div *ngIf="trueWork">
    <powerbi-report [embedConfig]="reportConfig" [cssClassName]="'report-container'"
     [eventHandlers]="eventHandlersMap" [phasedEmbedding]="false"></powerbi-report>
  </div>
  <div *ngIf="trueWorkFalse">
      <p>Datos incorrectos</p>
  </div>
</div>
